@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .field {
    @apply py-2 flex flex-col  bg-inherit mb-1;
  }
  .label {
    @apply text-[15px];
  }
  .button {
    @apply py-[7px] px-[20px] rounded-full bg-teal-800 text-black
  }
  .input {
    @apply w-[350px] rounded-lg bg-inherit border-white border p-[5px] text-[20px]
  }
  .icon {
    @apply inline-block ml-2
  }

  .error {
    @apply text-red-800 text-[14px] max-w-[350px] max-h-3
  }
}

#root {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #111;
}